.product-details-images {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--extra-light-blue);
  margin-bottom: 20px;
}

.product-details-main-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin: auto;
  cursor: zoom-in;
}

.product-details-carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 65px;
}

.product-details-carousel {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.product-details-carousel-thumb {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  border: 2px solid transparent;
}

.product-details-carousel-thumb:hover {
  border: 2px solid var(--secondary-blue);
}

.product-details-carousel-arrow {
  color: var(--secondary-blue);
  font-size: 1.3em;
  user-select: none;
  line-height: 1;
}

.product-details-carousel-arrow.left {
  transform: scaleX(-1);
}

.product-details-carousel-arrow:hover {
  color: var(--principal-blue);
}
