.product-details-description-box {
  background: #fff;
  border-radius: 8px;
  padding: 0;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.product-details-description-box h2 {
  margin-top: 0;
}

.product-details-tabs {
  display: flex;
  gap: 12px;
  border-bottom: 2px solid var(--secondary-blue);
  margin-bottom: 20px;
}

.product-details-tab {
  font-size: 1.1em;
  font-family: "Lato", sans-serif;
  color: var(--principal-blue);
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid transparent;
}

.product-details-tab.selected {
  background: var(--secondary-blue);
  color: #fff;
  cursor: default;
}

.product-details-tab:not(.selected):hover {
  background: var(--neutral-light);
  color: var(--secondary-blue);
}

.product-details-tab-content {
  display: flex;
  background: var(--neutral-light);
  border-radius: 0 0 8px 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.product-details-description {
  font-size: 1.1em;
  color: var(--neutral-dark);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  align-content: center;
}
