.u-icon-button-base {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  padding: 0;
}

.u-btn-base {
  cursor: pointer;
  border: none;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.u-btn-primary-look {
  background-color: var(--principal-blue);
  color: #fff;
  padding: 8px 18px;
  border-radius: 6px;
  font-size: 1em;
}

.u-flat-interactive {
  background: none;
  outline: none;
  padding: 0;
  border-radius: 0;
}
