body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--neutral-light);
  color: var(--neutral-dark);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: var(--principal-blue);
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding: 0;
}
