.payment-icons {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.payment-icons img {
  max-width: 180px;
  height: auto;
  display: block;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.payment-icons img:hover {
  filter: none;
}
