:root {
  --principal-blue: #003366;
  --secondary-blue: #336699;
  --neutral-light: #f8f8f8;
  --neutral-dark: #666666;
  --action-contrast: #705100;
  --extra-light-blue: #f4f9fd;
  --accent: #daa520;
}
